@media screen and (max-width: 400px) {
    .header__menu {
        display: none;
        position: absolute;
        flex-direction: column;
        top: 70px;
        background-color: #000000;
        height: 93vh;
        width: 110%;
        left: -10px;
        padding-top: 50px;
    }
    .header__contact{
        flex-direction: column;
        row-gap: 5px;
        margin-top: 25px;
    }

    .nav{
        flex-direction: column;
        row-gap: 15px;
    }
    .header__logo img {
        width: 50px;
    }

    .wrapper {
        max-width: 340px;
        padding: 0 10px;

    }

    .header__top{
        padding-top: 20px;
        position: relative;
    }

    .nav__btn__mobile{
        display: flex;
    }

    .header__title{
        text-align: center;
    }

    .header__title h2{
        font-size: 30px;
        line-height: 34px;
    }

    .header__title h1{
        font-size: 40px;
        line-height: 46px;
    }

    .header__title p{
        font-size: 15px;
        line-height: 20px;
    }

    .header__title p::before,
    .header__title p::after{
        display: none;
    }

    .header__phone{
        border: none;
    }

    .header__mask{
        bottom: -895px;
    }

    .header__mask__item__box{
        flex-direction: column;
        row-gap: 14px;

    }
    .header__mask__item p{
        font-size: 22px;
        line-height: 25px;
    }


}