body {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 7px;
}

.hf {
    height: 25%;
    background: chartreuse;
}

.w100 {
    width: 100%;
}

.border {
    border: black solid;
    box-sizing: border-box;
}

.wrap {
    width: 1000px;
    height: 1400px;
    margin: 0 auto;
    padding: 7px;
    box-sizing: border-box;
    flex-direction: column;


}

/*.header{

}*/
.main {
    height: 50%;
}

#menu {
    background: plum;
    width: 30%;
    height: 100%;
    margin-right: 7px
}

.main__posts {
    height: 100%;
    flex-direction: column;
    flex-grow: 1;
}

.main__posts__post {
    background: cornflowerblue;
    height: 50%;
}

#footer {

}