html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Tinos', serif;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background: url("image/bg.png") no-repeat center/cover;
    height: 800px;
    position: relative;
}

.header__top {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

.header__logo img {
    width: 50px;
}

.header__menu {
    display: flex;
}

.nav {
    display: flex;
    column-gap: 32px;
    align-items: center;
}

.nav__item img {
    width: 20px;
}

.nav__item a {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.header__phone {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    border-left: 1px solid #FFFFFF;
    margin-left: 15px;
    padding-left: 35px;
    width: 154px;
}

.header__contact {
    display: flex;
    column-gap: 45px;
}

.header__contact p {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.header__button {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    background: #FF7400;
    padding: 0px 19px;
    border: none;
    /*margin-left: 50px;*/
    cursor: pointer;
    height: 47px;
}

.nav__btn__mobile {
    display: none;
    width: 31px;
    flex-direction: column;
    row-gap: 4px;
}

.nav__btn__mobile div {
    height: 3px;
    background: #FF7400;
    border-radius: 50px;
}

.header__title {
    font-weight: normal;
    color: #D67E35;
    margin-top: 204px;
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
    max-width: 500px;
}

.header__title h2 {
    font-size: 50px;
    line-height: 57px;
    margin-left: 24px;
}

.header__title h1 {
    font-size: 80px;
    line-height: 92px;
}

.header__title p {
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    margin-top: 12px;
    justify-content: center;
    text-align: center;
}

.header__title p::before,
.header__title p::after {
    content: "";
    width: 61px;
    height: 2px;
    background: #C4C4C4;
    display: block;
}

.header__title p::before {
    margin-right: 10px;
}

.header__title p::after {
    margin-left: 10px;
}

.header__main__btn {
    display: flex;
    justify-content: center;
}

.header__main .header__button {
    margin-top: 35px;
}

/*.header__main__btn{
    display: flex;
    justify-content: center;
}*/
.header__mask {
    display: flex;
    justify-content: center;
    column-gap: 31px;
    position: absolute;
    top: 693px;
    left: 50%;
    transform: translateX(-50%);
}

.header__mask__item {
    width: 349px;
    height: 328px;
    background: #FFFFFF;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.header__mask__item img {
    width: 110px;
    height: 110px;
    margin-top: 35px;
}

.header__mask__item h2 {
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #2C2C2C;
}

.header__mask__item span {
    color: #BC9060;
}

.header__mask__item p {
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #656363;
    padding-top: 20px;
}



