body {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h20 {
    height: 20%;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

.wrap {
    margin: 0 auto;
    background: #3e3e3b;
    width: 800px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    padding: 1%;
    box-sizing: border-box;
}

.header {
    background: plum;
}

.nav {
    height: 10%;
    background: mediumpurple;
}

.box {
    background: pink;
    height: 50%;
}

.box__main {
    background: blueviolet;
}

.box__aside {
    background: darkslateblue;
}
.footer{
    background: aqua;

}



